{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="below-nav">
    <div class="hero hero-bg">
        <div class="hero-overlay">
            <div class="container central-container tagline-container">
                <h1 class="tagline">Taking care of your website needs</h1>
            </div>
        </div>
    </div>

    <div id="contact_tab">
        <a href="#">contact me</a>
    </div>

    <section class="hero feature">
        <div class="container central-container">

            <div class="image-container center">
                <img src="{% static 'images/gauge-icon-23.jpg' %}" alt="Image of optimal meter" id="seo_meter">
            </div>

            <h2 class="feature-title">
                Have a custom built site that meets both your clients and your needs. Search Engine Optimised & Original.
            </h2>

            <div class="button-container center">
                <a class="button" href="">Know More</a>
            </div>
        </div>
    </section>

    <section class="hero feature mb-6">
        <div class="container central-container blog-bg">

            <h2 class="feature-title" id="blog_title">
                Check out my weekly blogs.
            </h2>

            <div class="button-container center">
                <a class="button" href="">Read Blogs</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container central-container">
            <div class="center">
                <h3 class="footer-title mb-5">Follow Me on Social Media</h3>
            </div>

            <div class="center">
                <div class="social-container">
                    <i class="fab fa-linkedin is-large"></i>
                    <i class="fab fa-twitter-square is-large"></i>
                    <i class="fab fa-github-square is-large"></i>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}