{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="below-nav">
    <div class="hero services-banner-bg">
        <div class="banner-overlay">
            <div class="container central-container tagline-container">
                <h1 class="tagline">Services</h1>
            </div>
        </div>
    </div>


    <section class="hero feature">
        <div class="container central-container">
            <div class="service-item">
                <div class="service-icon tertiary-txt neon-yellow-bg black-txt center">
                    UX
                </div>
                <div class="service-text">
                    Arguably the most crucial element to a website being succesful & not simply
                    an elegant fascade, is the User Experience. I will help you to address both
                    your business' & your customer's needs through the website. Of course ensuring
                    the website is accessible to those whom are hard of hearing or seeing & other 
                    populations that may have learning difficulties.
                </div>
            </div>

            <hr class="is-hidden-touch">

            <div class="service-item">
                <div class="service-icon tertiary-txt white-bg black-txt center">
                    <img src="{% static '/images/services_testing.png' %}" alt="Image of two monitors demonstrating A/B testing">
                </div>
                <div class="service-text">
                    Website Testing is obviously another component I would consider essential if
                    you're serious about putting your brand out there. No matter how confident 
                    and competent the website creator is errors or bugs are most likely to exist
                    on some scale. The only way to eliminate or at the very least minimize these
                    is through thorough testing. I employ both manual and automated testing to sites.
                </div>
            </div>

            <hr class="is-hidden-touch">

            <div class="service-item">
                <div class="service-icon tertiary-txt bright-green-bg black-txt center">
                    <img src="{% static '/images/service_maintenance.png' %}" alt="Icon of spanner and screwdriver">
                </div>
                <div class="service-text">
                    I provide regular maintenance for your site, If you're social media needs a 
                    revamp or you simply wish to add more features. I'm happy to help you out.<br><br>
                    <span class="small-print">Please note depending upon the scale of the extra features to be implemented
                     a separate charge may be added.</span>
                </div>
            </div>

            <hr class="is-hidden-touch">

            <div class="service-item">
                <div class="service-icon tertiary-txt grey-bg black-txt center">
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <div class="service-text">
                    Wishing to sell items or services directly through your website then you may
                    require appropriate checkout facilities to allow transactions to happen securely
                    online. Whether it be paypal, stripe or perhaps you are unsure i am happy to 
                    consult with which payment options would best suit your business' needs.
                                    
                </div>
            </div>

            <hr class="is-hidden-touch">
            
            <div class="service-item">
                <div class="service-icon is-square tertiary-txt neon-yellow-bg black-txt center">
                    <i class="fas fa-database"></i>
                </div>
                <div class="service-text">
                    Data handling is big business nowadays. I will be able to provide a site with a
                    robust database available to collect users information (in accordance with GDPR)
                    whilst keeping it secure being priority number one.
                </div>
            </div>
        </div>
    </section>
            
</div>
{% endblock %}