
:root {
    /**** Colours ****/
    --main-bg-color: #222629;
    --primary-text-color: #FFF;
    --secondary-text-color: #61892F;
    --tertiary-text-color: #363636;
	--button-bg-color: #86C232;
	--alternate-bg-color: #474B4F;
    --paragraph-text-color: #6B6E70;

    /**** Fonts ****/
    --logo-text-font: 'Lexend+Tera', sans-serif;
    --header-text-font: 'Open sans', sans-serif;
    --paragraph-text-font: 'Roboto';
}

.white-bg {
    background-color: #FFF;
}

.bright-green-bg {
    background-color: #86C232;
}

.neon-yellow-bg {
    background-color: #ccff00;
}

.container {
    border-radius: .25rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: var(--primary-text-color);
}

a {
    color: var(--primary-text-color);
    font-family: var(--paragraph-text-font);
}

a:hover {
    color: var(--primary-text-color);
    text-decoration: underline;
}

ul li {
    color: #fff;;
}

i {
    color: var(--button-bg-color);
    font-size: xx-large;
}

hr {
    background-color: var(--alternate-bg-color);
    margin: 0.5rem 0;
}

html.has-navbar-fixed-top {
    padding-top: 2.7rem;
}

.nav {
    height: 44px;
    background-color: var(--alternate-bg-color);
}

.navbar {
    min-height: 0;
}
.navbar-brand {
    background-color: var(--alternate-bg-color);
    min-height: auto;
    height: 44px;
}

.navbar-item img {
    /* Override Bulma default css */
    max-height: none;
}

#logo_link {
    display: flex;
    justify-content: center;
    margin-left: 33.3%;
    width: 33.3%;
}

#logo_link:hover {
    text-decoration: none;
}

#nav_logo {
    height: 44px;
}

.navbar-brand #logo_link h1 {
    padding-left: 10px;
    padding-top: 5px;
    color: var(--primary-text-color);
    font-family: var(--logo-text-font);
}

.navbar-burger {
/* override bulma default */
    height: 44px;
    width: 44px;
    color: #FFF;
}
#navMenuTouch {
    padding-left: 35px;
    padding-right: 35px;
}

#navDropdownMenu {
    height: 100%;
}

#navDropdownMenu a.navbar-item {
    border-radius: .25rem;
    padding: 5px;
}

#navDropdownMenu .navbar-item {
    padding: 0.5rem 0rem;
}

#navDropdownMenu a.navbar-item.is-active {
    background-color: inherit;
    color: #000;
}

#navDropdownMenu a.navbar-item:hover {
    background-color: var(--alternate-bg-color);
    color: #FFF;
    text-decoration: none;
}


/****/

.below-nav {
    height: auto;
    min-height: calc(100vh - 44px);
    background-color: var(--main-bg-color);
}

.hero-bg {
    background: url('/static/images/web_dev_sketch.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 216px;
}

.hero-overlay {
    position: absolute; 
    width: 100%;
    height: 216px; 
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
}

.tagline-container {
    height: 216px;
    display: flex;
    align-items: center;
}

.central-container {
    width: 90%;
}

.tagline {
    width: 100%;
    font-family: var(--paragraph-text-font);
    font-size: 2rem;
    color: var(--primary-text-color) !important;
    text-align: center;
}

@media (min-width: 600px) {
    .central-container {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .central-container {
        width: 66%;
        max-width: 950px;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 0;
    }

    #navMenuTouch {
        background-color: var(--alternate-bg-color);
    }

    #navDropdownMenu {
        margin-left: 40%;
        width: 60%;
        justify-content: space-between; 
    }

    #navDropdownMenu a.navbar-item,
    #navDropdownMenu a.navbar-item.is-active {
        padding: 0.5rem 0.5rem;
        color: var(--primary-text-color);
    }

    #navDropdownMenu a.navbar-item.is-active {
        font-weight: bold;
    }

    #navDropdownMenu a.navbar-item:hover {
        background-color: var(--primary-text-color);
        color: var(--alternate-bg-color);
    }

    #logo_link {
        margin-left: 0%;
        width: auto;
    }

    #nav_logo {
        padding-left: 16px;
    }
}

#contact_tab {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: var(--button-bg-color);
    color: var(--primary-text-color);
    position: fixed;
    top: 50%;
    right: -80px;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1000;
    visibility: visible;
    /* opacity: 0; */
}

#contact_tab a:hover {
    text-decoration: none;
    color: var(--tertiary-text-color);
}

section {
    margin-top: 32px;
}

.feature-title {
    font-family: var(--paragraph-text-font);
    font-size: 2rem;
    color: var(--primary-text-color);
}

.image-container {
    width: 100%;
}

#seo_meter {
    filter: invert(100%);
}

.button-container {
    height: 100px;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--primary-text-color);
}

.button:hover {
    color: var(--tertiary-text-color);
    text-decoration: none;
}

.blog-bg {
    background: url('/static/images/home_blog.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    /* height: 216px; */
}

#blog_title {
    margin: 16px 0;
    padding: 0 32px;
}

.footer {
    background-color: var(--alternate-bg-color);
}

.footer .footer-title {
    text-align: center;
    font-family: var(--header-text-font);
    color: var(--secondary-text-color);
    font-size: 24px;
}

.social-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.contact-container {
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.contact-container ul li {
    color: var(--button-bg-color)!important;
    font-family: var(--paragraph-text-font);
    font-size: 1.2rem;
    font-weight: bold;
}

img, .tile {
    border-radius: .25rem !important;
}

.main-tile {
    background-color: #FFF;
    font-family: var(--header-text-font);
    font-size: 2rem;
    min-height: 232px;
}

.main-tile > div {
    width: 100%;
    height: 100%;
}

#education_tile {
    color: black;
}