
:root {
    /**** Colours ****/
    --main-bg-color: #222629;
    --header-text-color: #61892F;
    --big-text-color: #FFF;
	--button-bg-color: #86C232;
	--alternate-bg-color: #474B4F;
    --paragraph-text-color: #6B6E70;

    /**** Fonts ****/
    --logo-text-font: 'Lexend+Tera', sans-serif;
    --header-text-font: 'Open sans', sans-serif;
    --paragraph-text-font: 'Roboto';
}

.white-bg {
    background-color: #FFF;
}

.bright-green-bg {
    background-color: #86C232;
}

.neon-yellow-bg {
    background-color: #ccff00;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: var(--big-text-color);
}

a {
    color: var(--big-text-color);
    font-family: var(--paragraph-text-font);
}

a:hover {
    color: var(--big-text-color);
    text-decoration: underline;
}

ul li {
    color: #fff;;
}

i {
    color: var(--button-bg-color);
    font-size: xx-large;
}

hr {
    background-color: var(--alternate-bg-color);
    margin: 0.5rem 0;
}

.nav {
    height: 44px;
    background-color: var(--alternate-bg-color);
}
#nav_logo {
    height: 44px;
    padding-left: 16px;
}

.nav h1 {
    padding-left: 10px;
    padding-top: 5px;
    color: var(--big-text-color);
    font-family: var(--logo-text-font);
}

.nav-menu-options {
    padding-right: 10px;
    color: var(--big-text-color);
}

/****/

.below-nav {
    height: auto;
    min-height: calc(100vh - 44px);
    background-color: var(--main-bg-color);
}

.hero-bg {
    background: url('/static/images/web_dev_sketch.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 216px;
}

.hero-overlay {
    position: absolute; 
    width: 100%;
    height: 216px; 
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
}

.tagline-container {
    height: 216px;
    display: flex;
    align-items: center;
}

.central-container {
    width: 90%;
}

.tagline {
    width: 100%;
    font-family: var(--paragraph-text-font);
    font-size: 2rem;
    color: var(--big-text-color) !important;
    text-align: center;
}

@media (min-width: 600px) {
    .central-container {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .central-container {
        width: 66%;
        max-width: 950px;
    }
}

#contact_tab {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: var(--button-bg-color);
    color: var(--big-text-color);
    position: fixed;
    top: 50%;
    right: -80px;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1000;
    visibility: visible;
    /* opacity: 0; */
}

section {
    margin-top: 32px;
}

.feature-title {
    font-family: var(--paragraph-text-font);
    font-size: 2rem;
    color: var(--big-text-color);
}

.image-container {
    width: 100%;
}

#seo_meter {
    filter: invert(100%);
}

.button-container {
    height: 100px;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--big-text-color);
}

.button:hover {
    color: var(--paragraph-text-color);
}

.blog-bg {
    background: url('/static/images/home_blog.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    /* height: 216px; */
}

#blog_title {
    margin: 16px 0;
    padding: 0 32px;
}

.footer {
    background-color: var(--alternate-bg-color);
}

.footer .footer-title {
    text-align: center;
    font-family: var(--header-text-font);
    color: var(--header-text-color);
    font-size: 24px;
}

.social-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.contact-container {
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.contact-container ul li {
    color: var(--button-bg-color)!important;
    font-family: var(--paragraph-text-font);
    font-size: 1.2rem;
    font-weight: bold;
}

img, .tile {
    border-radius: .25rem !important;
}

.main-tile {
    background-color: #FFF;
    font-family: var(--header-text-font);
    font-size: 2rem;
    min-height: 232px;
}

.main-tile > div {
    width: 100%;
    height: 100%;
}

#education_tile {
    color: black;
}