<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <title>Dominic Chaple Web Developer</title>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
    
        {% block extra_meta %}
        {% endblock %}
    
        {% block corecss %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <script src="https://kit.fontawesome.com/d19a086ec7.js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"> -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}
    
        {% block extra_css %}
        {% endblock %}
    
    
        {% block corejs %}
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% endblock %}
    
        {% block extra_js %}
        {% endblock %}
    
    
        <title>Dominic Chaple Web Developer {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            
            <nav class="level nav">
                <div class="level-left">
                    <img src="{% static 'images/logo.png' %}" alt="DC logo" id="nav_logo">
                    <h1 class="level-item logo">WEB DEVELOPMENT</h1>
                </div>

                <div class="level-right nav-menu-options">
                    <p class="level-item"><a href="{% url 'about' %}">About</a></p>
                    <p class="level-item">Blog</p>
                    <p class="level-item">Services</p>
                    <p class="level-item">Portfolio</p>
                    <p class="level-item">Contact</p>
                </div>

            </nav>
            
            <!-- Sidebar navigation -->
            
            
        </header>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="container central-container">
                <div class="center">
                    <h3 class="footer-title mb-5">Follow Me on Social Media</h3>
                </div>
        
                <div class="center">
                    <div class="social-container">
                        <i class="fab fa-linkedin is-large"></i>
                        <i class="fab fa-twitter-square is-large"></i>
                        <i class="fab fa-github-square is-large"></i>
                    </div>
                </div>

                <div>
                    <h3 class="footer-title my-5">Or contact me directly</h3>
                    <div class="contact-container">
                        <ul>
                            <li>07494 235 998</li>
                            <li>domchaple@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            
        $(document).ready(function(){
            
        });
        </script>
        
        {% block postloadjs %}
        {% endblock %}

    </body>

</html>
