/* Import the rest of Bulma */
@import "~bulma/bulma";
/* Import Bulma Extensions */
@import "~bulma-calendar/dist/css/bulma-calendar";

:root {
    /**** Colours ****/
    --main-bg-color: #222629;
    --primary-text-color: #FFF;
    --secondary-text-color: #61892F;
    --tertiary-text-color: #363636;
	--button-bg-color: #86C232;
	--alternate-bg-color: #474B4F;
    --paragraph-text-color: #6B6E70;

    /**** Fonts ****/
    --logo-text-font: 'Lexend+Tera', sans-serif;
    --header-text-font: 'Open sans', sans-serif;
    --paragraph-text-font: 'Roboto';
}


.white-bg {
    background-color: #FFF !important;
}

.bright-green-bg {
    background-color: #86C232 !important;
}

.black-txt {
    color: #000 !important;
}

.white-txt {
    color: #FFF !important;
}

.dark-grey-txt {
    color: var(--tertiary-text-color) !important;
}

.neon-yellow-bg {
    background-color: #ccff00 !important;
}

.grey-bg {
    background-color: var(--alternate-bg-color);
}

.primary-txt {
    font-family: var(--header-text-font) !important;
}

.secondary-txt {
    font-family: var(--paragraph-text-font) !important;
}

.tertiary-txt {
    font-family: var(--logo-text-font) !important;
}

.center-txt {
    text-align: center;
}

.container {
    border-radius: .25rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    align-items: start;
}

.bottom {
    display: flex;
    align-items: end;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    color: var(--primary-text-color);
    font-size: 16px;
}

a {
    color: var(--primary-text-color);
    font-family: var(--paragraph-text-font);
}

a:hover {
    color: var(--primary-text-color);
    text-decoration: underline;
}

ul li {
    color: #fff;;
}

i {
    color: var(--button-bg-color);
    font-size: xx-large;
}

hr {
    background-color: var(--alternate-bg-color);
    margin: 0.5rem 0;
}

/****************************************************** Forms */
.input {
    width: 300px;
    max-width: 400px;
}

/****************************************************** Nav */

html.has-navbar-fixed-top {
    padding-top: 2.7rem;
}

.nav {
    height: 44px;
    background-color: var(--alternate-bg-color);
}

.navbar {
    min-height: 0;
}
.navbar-brand {
    background-color: var(--alternate-bg-color);
    min-height: auto;
    height: 44px;
}

.navbar-item img {
    /* Override Bulma default css */
    max-height: none;
}

#logo_link {
    display: flex;
    justify-content: center;
    margin-left: 33.3%;
    width: 33.3%;
}

#logo_link:hover {
    text-decoration: none;
}

#nav_logo {
    height: 44px;
}

.navbar-brand #logo_link h1 {
    padding-left: 10px;
    padding-top: 5px;
    color: var(--primary-text-color);
    font-family: var(--logo-text-font);
}

.navbar-burger {
/* override bulma default */
    height: 44px;
    width: 44px;
    color: #FFF;
}
#navMenuTouch {
    padding-left: 35px;
    padding-right: 35px;
}

#navDropdownMenu {
    height: 100%;
}

#navDropdownMenu a.navbar-item {
    border-radius: .25rem;
    padding: 5px;
}

#navDropdownMenu .navbar-item {
    padding: 0.5rem 0rem;
}

#navDropdownMenu a.navbar-item.is-active {
    background-color: inherit;
    color: #000;
}

#navDropdownMenu a.navbar-item:hover {
    background-color: var(--alternate-bg-color);
    color: #FFF;
    text-decoration: none;
}


/****/

.below-nav {
    height: auto;
    min-height: calc(100vh - 44px);
    background-color: var(--main-bg-color);
}

.home-banner-bg {
    background: url('/static/images/web_dev_sketch.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 216px;
}

.banner-overlay {
    position: absolute; 
    width: 100%;
    height: 216px; 
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
}

.tagline-container {
    height: 216px;
    display: flex;
    align-items: center;
}

.central-container {
    width: 90%;
}

.tagline {
    width: 100%;
    font-family: var(--paragraph-text-font);
    font-size: 2rem;
    color: var(--primary-text-color);
    text-align: center;
}

@media (min-width: 600px) {
    .central-container {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 0;
    }

    #navMenuTouch {
        background-color: var(--alternate-bg-color);
    }

    #navDropdownMenu {
        margin-left: 40%;
        width: 60%;
        justify-content: space-between; 
    }

    #navDropdownMenu a.navbar-item,
    #navDropdownMenu a.navbar-item.is-active {
        padding: 0.5rem 0.5rem;
        color: var(--primary-text-color);
    }

    #navDropdownMenu a.navbar-item.is-active {
        font-weight: bold;
    }

    #navDropdownMenu a.navbar-item:hover {
        background-color: var(--primary-text-color);
        color: var(--alternate-bg-color);
    }

    #logo_link {
        margin-left: 0%;
        width: auto;
    }

    #nav_logo {
        padding-left: 16px;
    }

    .central-container {
        width: 66%;
        max-width: 950px;
    }
}

/********************************************************* Index */


#contact_tab {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: var(--button-bg-color);
    color: var(--primary-text-color);
    position: fixed;
    top: 50%;
    right: -80px;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1000;
    visibility: visible;
    /* opacity: 0; */
}

#contact_tab a:hover {
    text-decoration: none;
    color: var(--tertiary-text-color);
}

section {
    margin-top: 32px;
}

.feature-title {
    font-family: var(--paragraph-text-font);
    font-size: 2rem;
    color: var(--primary-text-color);
    text-align: center;
}

.section-title {
    padding: 16px;
    font-family: var(--header-text-font);
    font-size: 32px;
    text-align: center;
}

.image-container {
    width: 100%;
}

#seo_meter {
    filter: invert(100%);
}

.button-container {
    height: 100px;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--primary-text-color);
}

.button:hover {
    color: var(--tertiary-text-color);
    text-decoration: none;
}

.blog-bg {
    background: url('/static/images/home_blog.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

#featured_blog_title {
    margin: 16px 0;
    padding: 0 32px;
}

/************************************************************** Footer */

.footer {
    background-color: var(--alternate-bg-color);
}

.footer .footer-title {
    text-align: center;
    font-family: var(--header-text-font);
    color: var(--secondary-text-color);
    font-size: 24px;
}

.social-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.contact-container {
    text-align: center;
    justify-content: center;
    justify-self: center;
}

.contact-container ul li {
    color: var(--button-bg-color)!important;
    font-family: var(--paragraph-text-font);
    font-size: 1.2rem;
    font-weight: bold;
}

/************************************************************** About Me */

img, .tile {
    border-radius: .25rem !important;
}

.tile:not(.is-child) {
    display: flex;
}

.tile.is-4 {
    flex: none;
    width: 33.3%;
}


.tile.is-6 {
    flex: none;
    width: 50%;
}

.mobile-img {
    width: 337.5px;
    height: 366px;
}

.touch-txt {
    padding: 16px 5% 32px;
}

.main-tile {
    background-color: #FFF;
    font-family: var(--header-text-font);
    font-size: 2rem;
    min-height: 232px;
}

.main-tile > div {
    width: 100%;
    height: 100%;
}

#education_tile {
    color: black;
}

.tile-overlay {
    position: absolute; 
    width: 100%;
    height: 366px; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
}

#profile_desktop_img {
    min-height: 232px;
}

#mobile_about {
    color: var(--primary-text-color);
    font-family: var(--header-text-font);
    font-size: 32px;
}

#img_tile {
    background-color: var(--alternate-bg-color);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#education_touch_title {
    min-height: 130px;
}

.education-img {
    max-width: 338px;
}

@media (min-width: 600px) {
    .touch-txt {
        padding: 16px 10% 32px;
    }
}

@media (min-width: 1024px) {
    .touch-txt {
        padding: 16px 16.5% 32px;
    }
}


/******************************************** Services */

.services-banner-bg {
    background: url('/static/images/services_banner.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 216px;
}

.service-item {

}

.service-icon {
    height: 100px;
    min-height: 100px;
    width: 100px;
    min-width: 100px;
    margin: 0 auto 20px;
    border-radius: 0.25rem;
    font-size: 64px;
}

.service-icon i {
    font-size: 64px;
    color: var(--primary-text-color);
}

.service-icon i.fas.fa-database {
    color: #000;
}

.service-text {
    margin-bottom: 20px;
    padding: 10px;
    color: var(--primary-text-color);
}

@media (min-width: 769px) {
    .service-icon {
        height: 150px;
        width: 150px;
    }

}

@media (min-width: 1024px) {
    .service-item {
        display: flex;
        align-items: center;
    }

    .service-icon {
    
    }
    
    .service-text {
        width: calc(66vw - 150px);
        padding-left: 50px;
    }

    .service-text:not(:first-child) {
        margin-top: 20px;
    }
}

/**************************************************** Portfolio */

.banner-bg {
    height: 216px;
}

#portfolio_section {
    padding: 100px 0;
}

.card {
    margin-bottom: 50px;
}

.content {
    font-family: var(--paragraph-text-font);
}

.portfolio-title {
    margin-bottom: 10px;
    font-family: var(--header-text-font);
    font-size: 24px;
    color: var(--tertiary-text-color);
}

.website-link {
    padding-bottom: 5px;
}

.portfolio-link {
    color: #0000EE;
}

.portfolio-link:hover {
    color: #0000EE;
    text-decoration: underline;
}

.portfolio-icon {
    margin-right: 10px;
    font-size: larger;
    color: black;
}

@media (min-width: 769px) {
    .portfolio-icon {
        font-size: large;
    }
}

/*********************************************** Contact */

#contact_text_container {
    /* text-align: center; */
}

.contact-text {
    max-width: 400px;
}

#contact_form_container{
    display: block;
}

#contact_form {
    margin-bottom: 50px;
    text-align: center;
}

#contact_form label {
    display: block;
    max-width: 400px;
    text-align: left;
}

#contact_form input {
    width: 100%;
    margin-bottom: 10px;
}

#contact_form .textarea {
    display: inline-flex;
    max-width: 400px;
    min-width: 0;
    margin-bottom: 50px;
}

@media (min-width: 457px) {
    .contact-text {
        width: 400px;
        margin-left: calc((100% - 400px)/2);
    }

    #contact_form label {
        width: 400px;
        margin-left: calc((100% - 400px)/2);
    }
}

@media (min-width: 769px) {
    #contact_form {
        text-align: left;
    }

    #contact_form p {
        text-align: center;
    }

    #contact_form .textarea {
        max-width: 100%;
        width: 500px;
    }

    #contact_form p:nth-child(4),
    #contact_form .button {
        text-align: left;
        margin-left: calc((100% - 400px)/2);
    }

    #contact_form p:nth-child(4) label {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    #contact_form .textarea {
        width: 550px;
    }
}
