.modal-content {
    display: block;
    height: 150px;
    background-color: var(--primary-text-color);
}

.modal-text {
    width: 100%;
    margin-top: 35px;
    text-align: center;
    color: var(--main-bg-color);
}

.modal-button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;

}

/************************************* CMS - Blog section */

form > * {
    margin-bottom: 10px;
}

.content-item {
    margin: 0 auto;
    width: 300px;
}

form label {
    color: var(--primary-text-color);
}

.file.has-name .file-name {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
}

#blog_content p, #blog_content table {
    color: var(--primary-text-color);
}

#blog_content table {
    color: var(--main-bg-color);
}

#blog_content table th {
    background-color: var(--alternate-bg-color);
    color: var(--primary-text-color);
}

table th#date_col {
    max-width: 120px;
}

#blog_content table i {
    font-size: large;
}

@media (min-width: 1024px) {
    #blog_content table i {
        font-size: x-large;
    }
}

/*************************************************** Subscriber section */

