{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cms/css/cms.css' %}">
{% endblock %}

{% block content %}
<div class="below-nav">
    <div class="hero bright-green-bg banner-bg">
        <div class="container central-container tagline-container">
            <h1 class="tagline black-txt">Content Management</h1>
        </div>
    </div>

    <section class="hero feature">
        <div class="container central-container">
            <div id="blog_content">
                <h2 class="feature-title">Blog content</h2>
                <p class="content-item center mt-3 mb-6">Upload new blog file</p>
                <form action="{% url 'cms' %}" method="POST" class="content-item" enctype="multipart/form-data" id="blog_content_form">
                    {% csrf_token %}
                    {% for field in blog_upload_form %}
                        {% if field.name == "file" or field.name == "image" %}
                            <div class="file has-name {% if field.name == 'image' %}is-boxed mb-5{% endif %}" 
                                id="{% if field.name == 'file' %}add_blogfile{% else %}add_blogimg{% endif %}">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="{{ field.name }}">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Chose
                                            {% if field.name == "file" %}
                                                a Blog
                                            {% else %}
                                                an Image for Blog
                                            {% endif %}
                                        </span>
                                    </span>
                                    <span class="file-name">
                                        {% if field.name == "file" %}
                                            file.pdf
                                        {% else %}
                                            image.png
                                        {% endif %}
                                    </span>
                                </label>
                            </div>
                        {% elif field.name == "title" %}
                            <label>Title</label>
                            <input class="input" type="text" name="{{ field.name }}" id="title">
                        {% elif field.name == "post_date" %}
                            <label>Date</label>
                            <input class="input mb-5" type="date" name="{{ field.name }}" id="{{ field.name }}">
                        {% else %}
                            <input type="hidden" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}">
                        {% endif %}

                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong class="help is-danger">{{ error }}</strong>
                        </div>
                        {% endfor %}
                        
                    {% endfor %}
                   
                    <button class="button" type="submit" name="submit" value="upload_blog">Upload</button>
                </form>
                <h2 class="feature-title mt-6">Edit Previous Blogs</h2>
                {% if blogs %}
                <table class="table is-fullwidth mt-3">
                    <thead>
                        <tr>
                            <th id="date_col">Date</th>
                            <th class="is-hidden-mobile">Title</th>
                            <th>File</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for id, form in edit_blog_forms.items %}

                        {% for blog in blogs %}
                            {% if blog.id == id %}
                            <tr id="blog_{{ blog.id }}">
                                <td>{{ blog.post_date }}</td>
                                <td class="unique-field is-hidden-mobile">{{ blog.title }}</td>
                                <td class="file-name-display">{{ blog.file }}</td>
                                <td class="edit-btn"><i class="far fa-edit"></i></td>
                                <td id="deleteblog_{{ blog.id }}" class="delete-blog"><i class="far fa-trash-alt"></i></td>
                            </tr>
                            {% endif %}
                        {% endfor %}             
                        <tr class="edit-row" id="edit_row_{{ id }}">
                            <td colspan="12">
                                <form action="{% url 'cms' %}" method="POST" class="content-item" enctype="multipart/form-data"
                                    id="blog_edit_form_{{ id }}">
                                    {% csrf_token %}
                                            
                                    {% for field in form %}
                                    
                                    {% if field.name == "file" or field.name == "image" %}
                                    <div class="file has-name {% if field.name == 'image' %}is-boxed mb-5{% endif %}"
                                    id="{% if field.name == 'file' %}edit_blogfile_{{ id }}{% else %}edit_blogimg_{{ id }}{% endif %}">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="{{ field.name }}"/>
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    Update
                                                    {% if field.name == "file" %}
                                                        Blog
                                                    {% else %}
                                                        Image 
                                                    {% endif %}
                                                    
                                                </span>
                                            </span>
                                            <span class="file-name">{{ field.value }}</span>
                                        </label>
                                    </div>
                                    {% elif field.name == "title" %}
                                    <label class="">Title</label>
                                    <input class="input" type="text" name="title" value="{{ field.value }}" />
                                    {% elif field.name == "id" or field.name == "edit" %}
                                    <input type="hidden" value="{{ field.value }}" name="{{ field.name }}"> 
                                    {% else %}
                                    <label class="">Date</label>
                                    <input class="input mb-5" type="date" name="post_date" value="{{ field.value|date:'Y-m-d' }}" />
                                    {% endif %}
                                
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong class="help is-danger">{{ error }}</strong>
                                        </div>
                                        {% endfor %}                               
                                    {% endfor %}

                                    <input class="input" type="hidden" name="id" value="{{ id }}" />

                                    <button class="button" type="submit" name="submit" value="update_blog">Save Changes</button>
                                </form>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="content-item center mt-3 mb-6">No blogs have been added yet.</p>
                {% endif %}
            </div>
        </div>
    </section>

     <section class="hero feature">
        <div class="container central-container">
            <div id="subscriber_content">
                <h2 class="feature-title">Subscriber content</h2>
                <p class="content-item center mt-3 mb-6">Add new subscriber</p>
                <form action="{% url 'cms' %}" method="POST" class="content-item sub-content-form" id="add_sub_form">
                    {% csrf_token %}
                    {{ add_sub_form.as_p }}
                    <button class="button" type="submit" name="submit" value="add_subscriber">Add Subscriber</button>
                </form>
                <h2 class="feature-title mt-6">Edit Email Subscribers</h2>
                {% if subscribers %}
                <table class="table is-fullwidth mt-3 mb-6">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="is-hidden-mobile" id="number_col">Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for id, form in edit_sub_forms.items %}
                    
                        {% for sub in subscribers %}
                            {% if sub.id == id %}
                            <tr>
                                <td class="sub-name">{{ sub.name }}</td>
                                <td class="is-hidden-tablet">{{ sub.email|truncatechars:10 }}</td>
                                <td class="is-hidden-mobile is-visible-tablet is-hidden-desktop">{{ sub.email|truncatechars:20 }}</td>
                                <td class="unique-field is-hidden-touch">{{ sub.email }}</td>
                                
                                <td class="is-hidden-mobile">{{ sub.number }}</td>
                                <td class="edit-btn"><i class="far fa-edit"></i></td>
                                <td id="deletesub_{{ sub.id }}" class="delete-sub"><i class="far fa-trash-alt"></i></td>
                            </tr>
                            {% endif %}
                        {% endfor %}

                    
                        <tr class="edit-row" id="edit_subrow_{{ form.id.value }}">
                            <td colspan="12">
                                <form action="{% url 'cms' %}" method="POST" class="content-item sub-content-form">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        
                                        {% if field.name == "email" %}
                                            <label>{{ field.label }}</label>
                                            <input class="input" type="email" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}" placeholder="{{ field.placeholder }}">  
                                        {% elif field.name == "id" %}
                                            <input type="hidden" value="{{ field.value }}" name="{{ field.name }}"> 
                                        {% else %}
                                            <label>{{ field.label }}</label>
                                            <input class="input" type="text" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}" placeholder="{{ field.placeholder }}">
                                        {% endif %}
                                
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong class="help is-danger">{{ error }}</strong>
                                        </div>
                                        {% endfor %}                               
                                    {% endfor %}
                                    
                                    <button class="button" type="submit" name="submit" value="update_subscriber">Save Changes</button>
                                </form>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="content-item center mt-3 mb-6">No Subscribers have been added yet.</p>
                {% endif %}
            </div>
        </div>
    </section>


    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content center">
            <p class="modal-text">Are you sure you want to delete the <span class="insert-del-item"></span>?</p>
            <div class="modal-button-container">
                <form id="deleteitem_form">
                    {% csrf_token %}
                    <button class="button is-danger modal-confirm">Delete <span class="del-item"></span></button>
                </form>
                <button class="button modal-cancel">Keep <span class="del-item"></span></button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
            
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'cms/js/cms.js' %}" type="text/javascript"></script>
    <script src="{% static 'cms/js/subscriber.js' %}" type="text/javascript"></script>
{% endblock %}