{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cms/css/cms.css' %}">
{% endblock %}

{% block content %}
<div class="below-nav">
    <div class="hero bright-green-bg banner-bg">
        <div class="container central-container tagline-container">
            <h1 class="tagline black-txt">Content Management</h1>
        </div>
    </div>

    <section class="hero feature">
        <div class="container central-container">
            <div id="blog_content">
                <h2 class="feature-title">Blog content</h2>
                <p class="content-item center mt-3 mb-6">Upload new blog file</p>
                <form action="{% url 'cms' %}" method="POST" class="content-item" enctype="multipart/form-data" id="blog_content_form">
                    {% csrf_token %}
                    {% for field in blog_upload_form %}
                        {% if field.name == "blog_file" %}
                            <div class="file has-name" id="upload_new_blog">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="{{ field.name }}">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a Blog
                                        </span>
                                    </span>
                                    <span class="file-name">
                                        file.txt
                                    </span>
                                </label>
                            </div>
                        {% elif field.name == "blog_title" %}
                            <label class="">Title</label>
                            <input class="input" type="text" name="{{ field.name }}" id="blog_title">
                        {% elif field.name == "blog_post_date" %}
                            <label class="">Date</label>
                            <input class="input" type="date" name="{{ field.name }}" id="{{ field.name }}">
                        {% endif %}

                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong class="help is-danger">{{ error }}</strong>
                        </div>
                        {% endfor %}
                        
                    {% endfor %}
                   
                    <button class="button" type="submit" name="submit" value="upload_blog">Upload</button>
                </form>
                <h2 class="feature-title mt-6">Edit Previous Blogs</h2>
                {% if blogs %}
                <table class="table is-fullwidth mt-3">
                    <thead>
                        <tr>
                            <th id="date_col">Date</th>
                            <th class="is-hidden-mobile">Title</th>
                            <th>File</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in edit_blog_forms %}
                        <tr id="blog_{{ forloop.counter }}">
                            <td>{{ form.blog_post_date.value }}</td>
                            <td class="blog-title is-hidden-mobile">{{ form.blog_title.value }}</td>
                            <td class="file-name-display">{{ form.blog_file.value }}</td>
                            <td class="edit-btn"><i class="far fa-edit"></i></td>
                            <td id="deleteblog_{{ forloop.counter }}" class="delete-blog"><i class="far fa-trash-alt"></i></td>
                        </tr>

                    
                        <tr class="edit-row" id="edit_row_{{ form.id.value }}">
                            <td colspan="12">
                                <form action="{% url 'edit_blog' %}" method="POST" class="content-item" enctype="multipart/form-data"
                                    id="blog_edit_form_{{ form.id.value }}">
                                    {% csrf_token %}
                                            
                                    {% for field in form %}
                                    
                                    {% if field.name == "blog_file" %}
                                    <div class="file has-name" id="edit_previous_blog_{{ form.id.value }}">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="{{ field.name }}"/>
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                </span>
                                                <span class="file-label">Update Blog</span>
                                            </span>
                                            <span class="file-name">{{ field.value }}</span>
                                        </label>
                                    </div>
                                    {% elif field.name == "blog_title" %}
                                    <label class="">Title</label>
                                    <input class="input" type="text" name="blog_title" value="{{ field.value }}" />
                                    {% elif field.name == "id" %}
                                    <input type="hidden" value="{{ field.value }}" name="{{ field.name }}"> 
                                    {% else %}
                                    <label class="">Date</label>
                                    <input class="input" type="date" name="blog_post_date" value="{{ field.value|date:'Y-m-d' }}" />
                                    {% endif %}
                                
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong class="help is-danger">{{ error }}</strong>
                                        </div>
                                        {% endfor %}                               
                                    {% endfor %}
                                    <button class="button" type="submit" name="submit" value="update_blog">Save Changes</button>
                                </form>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="content-item center mt-3 mb-6">No blogs have been added yet.</p>
                {% endif %}
            </div>
        </div>
    </section>

     <section class="hero feature">
        <div class="container central-container">
            <div id="subscriber_content">
                <h2 class="feature-title">Subscriber content</h2>
                <p class="content-item center mt-3 mb-6">Add new subscriber</p>
                <form action="{% url 'cms' %}" method="POST" class="content-item" id="subscriber_content_form">
                    {% csrf_token %}
                    {% for field in add_sub_form %}
                        {% if field.name == "email" %}
                            <label>{{ field.label }}</label>
                            <input class="input" type="email" name="{{ field.name }}" id="{{ field.name }}">
                        {% else %}
                            <label>{{ field.label }}</label>
                            <input class="input" type="text" name="{{ field.name }}" id="{{ field.name }}">
                        {% endif %}

                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong class="help is-danger">{{ error }}</strong>
                        </div>
                        {% endfor %}
                        
                    {% endfor %}
                   
                    <button class="button" type="submit" name="submit" value="add_subscriber">Add Subscriber</button>
                </form>
                <h2 class="feature-title mt-6">Edit Email Subscribers</h2>
                {% if subscribers %}
                <table class="table is-fullwidth mt-3">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in edit_sub_forms %}
                        <tr>
                            <td>{{ form.name.value }}</td>
                            <td class="unique-field">{{ form.email.value }}</td>
                            <td>{{ form.number.value }}</td>
                            <td class="edit-btn"><i class="far fa-edit"></i></td>
                            <td class="delete-item"><i class="far fa-trash-alt"></i></td>
                        </tr>

                    
                        <tr class="edit-row" id="edit_subrow_">
                            <td colspan="12">
                                <form action="{% url 'edit_subscriber' %}" method="POST" class="content-item">
                                    {% csrf_token %}

                                   
                                    {% for field in form %}
                                    
                                        {% if field.name == "email" %}
                                            <label>{{ field.label }}</label>
                                            <input class="input" type="email" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}">                                            
                                        {% else %}
                                            <label>{{ field.label }}</label>
                                            <input class="input" type="text" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}">
                                        {% endif %}
                                
                                        {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong class="help is-danger">{{ error }}</strong>
                                        </div>
                                        {% endfor %}                               
                                    {% endfor %}
                                    <button class="button" type="submit" name="submit" value="update_subscriber">Save Changes</button>
                                </form>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="content-item center mt-3 mb-6">No Subscribers have been added yet.</p>
                {% endif %}
            </div>
        </div>
    </section>


    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content center">
            <p class="modal-text">Are you sure you want to delete the blog titled "<span class="insert-title"></span>"?</p>
            <div class="modal-button-container">
                <button class="button is-danger modal-confirm">Delete Blog</button>
                <button class="button modal-cancel">Keep Blog</button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
            
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'cms/js/cms.js' %}" type="text/javascript"></script>
{% endblock %}